:host {
  display: flex;
  background-image: url('/assets/navbar-background.png');
  background-repeat: no-repeat;
  background-size: cover 100%;
  overflow: visible;
  height: 150px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;

}
