:host {
  display: block;
}

section{
  margin-left: 50px;
  padding: 10px 30px;

  width: 904px;

  color: white;
  box-shadow: 5px 5px 0 #008267;
  background-color: #00A684;
  border-radius: 144px;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
  line-height: 1.5;
  padding: 5px;
}
