:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
    
    .item {
      width: 450px;
      height: 200px;
      background: gray;
      border: 2px solid black;
    }
  }
}
