:host {
  display: block;
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4{
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      color: #FFFFFF;
      margin: 0;
    }
    p {
      margin: 0;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
}
