main {
  background-color: #274B47;
  background-image: url('/assets/main-background.png');
  background-position: bottom right ;
  background-repeat: no-repeat;
  background-size: cover 100%;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 10px;
  z-index: -10;
}
