main {
  background-color: #008267;
  background-image: url('/assets/main-background.png');
  background-position: bottom right ;
  background-repeat: no-repeat;
  background-size: cover 100%;
  margin: 0;
}
