:host {
  display: flex;
  align-items: center;
  // flex-direction: row;
  // width: 100%;
}

#klocek {
  display: flex;
  margin-left: 800px;
  flex-direction: row;
  align-items: center;
}

p {
  cursor: pointer;
  width: 150px;
  font-size: larger;
  color: white;
  transition: ease-in-out 0.4s;
  &:hover {
    transform: scale(1.1);
  }

}
